<div class="appinfo row justify-content-center">
  <div class="appinfo__event-info col-sm-8 col-lg-4 m-3">
    <div class="appinfo__title">
      <p>イベントに行ってみよう</p>
    </div>
    <div class="appinfo__event-info__description">
      <div class="event-info__bar">
        <i class="fa fa-search-plus event-info__icon"></i>
        <p class="event-info__text">イベント詳細画面から</p>
      </div>
      <div class="event-info__arrow">
        <i class="fa fa-arrow-down"></i>
      </div>
      <div class="event-info__bar">
        <i class="fa fa-arrow-circle-right event-info__icon"></i>
        <p class="event-info__text">申し込み！</p>
      </div>
    </div>
  </div>

  <div class="appinfo__group-info col-sm-8 col-lg-4 m-3">
    <div class="appinfo__title">
      <p>グループに参加しよう</p>
    </div>
    <div class="group-info__description">
      <div class="group-info__description__title-and-icon">
        <div class="group-info__description__title">
          <p>色々なグループを見て<br>参加してみよう</p>
        </div>
        <div class="group-info__user-alone">
          <i class="fa fa-user"></i>
        </div>
      </div>
      <div class="group-info__description__arrow">
        <i class="fa fa-arrow-right"></i>
      </div>
      <div class="group-info__group-icon">
        <div class="group-info__user-icon icon--normal">
          <i class="fa fa-user m-1"></i><i class="fa fa-user m-1"></i><i class="fa fa-user m-1"></i>
        </div>
        <div class="group-info__user-icon icon--secret">
          <i class="fa fa-user-secret m-1"></i><i class="fa fa-user-secret m-1"></i><i class="fa fa-user-secret m-1"></i>
        </div>
        <div class="group-info__user-icon icon--kids">
          <i class="fa fa-child m-1"></i><i class="fa fa-child m-1"></i><i class="fa fa-child m-1"></i>
        </div>
      </div>
    </div>
  </div>
</div>