@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./users.scss";
@import "./events.scss";
@import "./groups.scss";
@import "./top.scss";

/* 背景色 */
body {
  background-color: #f6f6f6;
}

/* --------------------------------
 * parts
 * -------------------------------- */
.button {
  display: inline-block;
  width: 200px;
  padding: 15px;
  border-radius: 30px;
  background-color: #696969;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1rem;
}
.button:hover {
  opacity: 0.9;
  color: #ffffff;
}
.button-green {
  background: -webkit-linear-gradient(91deg, rgb(0, 152, 84), rgb(137, 201, 151));
  background: linear-gradient(91deg, rgb(0, 152, 84), rgb(137, 201, 151));
}
.button-event {
  color: #494949;
  background-image: linear-gradient(120deg, rgb(246, 211, 101) 0%, rgb(253, 160, 133) 100%);
}
.button-group {
  color: #494949;
  background-image: linear-gradient(120deg, rgb(161, 196, 253) 0%, rgb(194, 233, 251) 100%);
}


/* bodyの高さを一定に調整 */
.wrapper {
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.footer {
  width: 100%;
  position: absolute;/*←絶対位置*/
  text-align: center;
  bottom: 0; /*下に固定*/
}

/* 投稿イベント一覧の設定 */
.index_events {
  display: grid;
  grid-auto-flow: row;
  grid: auto-flow 370px / 270px 270px 270px;
  justify-content: center;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.caption img {
  width: 260px;
  height: 230px;
  object-fit: cover;
}

/* フロントバリデーション関係 */
label.error {
  color: red;
  font-weight: bold;
}

/* top画面の画像調整 */
.top-photo {
  position: relative;
  padding: 50px;
  background-image: image-url("top_image.jpg");
  background-position: center;
}

/* .top-photo p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-weight: bold;
  font-size: 3em;
}
*/

.top-photo img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  opacity: 0.6;
}

.logo-font {
  font-weight: bold;
  font-size: 1.5em;
}

/* google認証ボタン */
.btn-google {
  background-color: #e46257;
}

.btn-google span {
  color: #fff;
}

.btn-google span i {
  color: #fff;
}

.btn-google:hover {
  color: #fff;
  background-color: #df4537;
}

/* エラーメッセージ関連 */
#error_explanation {
  color: red;
}