@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: #fbfaf5
}

/* 投稿イベント一覧の設定 */
.index_events {
  display: grid;
  grid-auto-flow: row;
  grid: auto-flow 370px / 270px 270px 270px;
  justify-content: center;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.caption img {
  width: 100%;
  height: 230px;
}

/* フロントバリデーション関係 */
label.error {
  color: red;
  font-weight: bold;
}

.empty_content {
  min-height: 100%;
}

/* top画面の画像調整 */
.top-photo {
  position: relative;
  background: #000;
}

.top-photo p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-weight: bold;
  font-size: 3em;
}

.top-photo img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  opacity: 0.6;
}

/* ヘッダーのリンク */
.active {

}

.logo-font {
  font-weight: bold;
  font-size: 1.5em;
}

/* google認証ボタン */
.btn-google {
  background-color: #e46257;
}

.btn-google span {
  color: #fff;
}

.btn-google span i {
  color: #fff;
}

.btn-google:hover {
  color: #fff;
  background-color: #df4537;
}

/* エラーメッセージ関連 */
#error_explanation {
  color: red;
}