.user-apply-event {
  background-color: #fff;
  box-shadow: 6px 6px 8px -3px rgba(0, 0, 0, 0.15);
}

/* マイページ内の参加申し込みイベント一覧 */
.user-apply-event__index {
  display: grid;
  grid-auto-flow: row;
  grid: auto-flow 350px / 230px 230px 230px;
  justify-content: center;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.user-apply-event__index__item img {
  width: 200px;
  height: 200px;
  justify-content: center;
}


/* -------------------------------
 * トップ画面アプリ概要説明欄（イベント）
 * ------------------------------- */
.appinfo {
  width: 100%;
}
.appinfo__event-info {
  width: 320px;
  padding: 15px;
  display: inline-block;
  background-image: linear-gradient(120deg, rgba(246, 211, 101, 0.8) 0%, rgba(253, 160, 133, 0.8) 100%);
}
.appinfo__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.event-info__bar {
  height: 40px;
  background: #fff;
  line-height: 40px;
  position: relative;
}
.event-info__icon {
  width: 40px;
  height: 40px;
  font-size: 1.7rem;
  display: inline-block;
  text-align: center;
  background-color: #333;
  color: #fff;
}
.fa-search-plus::before {
  display: inline-block;
  margin-top: 6px;
}
.event-info__text {
  display: inline-block;
  position: absolute;
  left: 60px;
}
.event-info__arrow {
  text-align: center;
  margin: 10px auto 10px;
  font-size: 1.5rem;
}
.fa-arrow-circle-right::before {
  display: inline-block;
  margin-top: 6px;
}
.index-event__title {
  margin: 40px auto 10px;
  border-bottom: 2px solid #ff6347;
}
.index-event__title p {
  font-size: 1.2rem;
}

/* -------------------------------
 * トップ画面アプリ概要説明欄（グループ）
 * ------------------------------- */
.appinfo__group-info {
  width: 320px;
  height: 210px;
  padding: 15px;
  display: inline-block;
  background-image: linear-gradient(120deg, rgba(161, 196, 253, 0.8) 0%, rgba(194, 233, 251, 0.8) 100%);
}
.group-info__description {
  position: relative;
  height: 136px;
  text-align: center;
}
.group-info__description__title-and-icon {
  width: 190px;
  height: 136px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-color: #fff;
}
.group-info__description__title {
  text-align: center;
}
.group-info__user-alone {
  font-size: 2.3rem;
  display: inline-block;
}
.group-info__description__arrow {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5rem;
  margin: 50px 10px 50px;
}
.group-info__group-icon {
  width: 100px;
  height: 136px;
  padding: 10px;
  background-color: #fff;
  display: inline-block;
}
.group-info__user-icon {
  width: 80px;
  height: 35px;
  font-size: 1.3rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin: auto;
}
.icon--normal {
  margin-bottom: 5px;
}
.icon--kids {
  margin-top: 5px;
}