/* -------------------------------
 * トップ画面（グループ紹介部分）
 * ------------------------------- */
.group-index {
  text-align: center;
}
.group-index__info {
  width: 120px;
  height: 75px;
  display: inline-block;
  margin: 10px 5px 10px;
  text-align: center;
}
.group-index__info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.group-index__info__image {
}
.group-index__info__image img {
  width: 120px;
  height: 73px;
  object-fit: cover;
}